html,
body {
    height: 85vh;
    width: 100vw;
}

html,
body {
    height: 100%;
}

h1, h4 {
    margin: 0px !important;
}

.bg-main {
    background: url('../images/pexels-pixabay-235621.jpg') no-repeat center fixed;
    background-color: #cccccc;
    background-size: cover;
}

.djm-card {
    display: flex;
    text-align: center;
    justify-content: center;
}

.card-header {
    display: flex;
    padding: 0px !important;
    margin: 0px !important;
}

.temp-value {
    font-size: 5em;
    line-height: 1em;
    margin: 0px !important;
    padding: 0px !important;
}

.h-30 {
    height: 30vh !important;
}

.h-70 {
    height: 70vh !important;
}

.center-title {
    display: flex;
    justify-content: center;
    align-items: center;
}


.wrapper {
    font-size: 1.1em;
}

.name,
.subtitle {
    font-size: 1.2em;
    margin-bottom: 0;
    line-height: 1.3em;
    text-align: center;
}

.chartBox {
    height: 55vh;
    width: 100%;
}